body, html, h2 {
  margin: 0;
  padding: 0;
}

.m-top-35 {
  margin-top: 35px;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.container {
  width: 60%;
  margin: 3% auto 0 auto;
}

.icons-color {
  color: #22B6AF;
}

.header {
  width: 100%;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0px 0px 20px 0px rgba(0, 0, 0, 0.19);
}

.card {
  width: 100%;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0px 0px 20px 0px rgba(0, 0, 0, 0.19);
}

.border-bottom {
  border-bottom: 1px solid #D9D9D9;
}

.nav-item-active {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #22B6AF;
  border-bottom: #22B6AF solid 3px;
  padding: 15px 0 15px 0;
  margin: 0 15px 0 15px;
}

.nav-item {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #9E9E9E;
  padding: 15px 0 15px 0;
  margin: 0 15px 0 15px;
}



.metrics {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.p-15 {
  padding: 15px;
}

.m-15 {
  margin: 15px;
}

.ml-15 {
  margin-left: 15px;
}

.mr-15 {
  margin-right: 15px;
}

.mt-25 {
  margin-top: 25px;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.d-flex-space-around {
  display: flex;
  justify-content: space-around;
}

.d-flex-space-between {
  display: flex;
  justify-content: space-between;
}

.d-flex {
  display: flex;
}

.d-flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.filter-items {
  margin-top: 10px;
}

.round-btn {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  color: #9E9E9E;
  margin-right: 10px;
  border: 1px #9E9E9E solid;
  background: white;
  border-radius: 50%;
}

.contestItem {
  width: 47%;
  height: 350px;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.contestItem-first-section {
  height: 50%;
  color: #9BDEDC;
  background: #DEF5F4
}
.contestItem-first-section .round-btn, button {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0px 0px 20px 0px rgba(0, 0, 0, 0.19);
  border: none;
}

.btn {
  border: none;
  color: #22B6AF;
  padding: 7px;
  border-radius: 4px;
  cursor: pointer;
}

.join-contest {
  border-radius: 15px;
  padding: 10px;
  color: #ffff;
  background: #22C3BD;
}

.join-contest .plus {

}

.text-bold {
  font-weight: bold;
}

.contestItem-first-section span {
  font-size: 80px;
  font-weight: bold;
}

.contestItem-second-section {
  height: 50%;
}

.flex-full-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.round-btn-active {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  background: #d9f1f0;
  color: #22b6af;
  height: 40px;
  width: 40px;
  border: none;
  margin-right: 12px;
  border-radius: 50%;
}


.metrics-title {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #747474;
}

.metrics-items {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}


